@font-face {
  font-family: "My Font";
  src: url("./src/assets/Fonts/ARCADECLASSIC.TTF") format("truetype");
}
.div {
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 4s;
}

div:hover {
  width: 300px;
  height: 1000px;
}
