* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.funTimes {
  z-index: 99999;
  top: 0px;
  position: fixed;
  background-color: transparent;
  left: 0%;
  color: coral;
  border: none;
  font-family: "arcade";
}

.play {
  z-index: 99999;
  top: 0px;
  position: fixed;
  background-color: transparent;
  left: 0;
}
