.cartItemCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cartImg {
  background-color: aqua;
}

.removeBtn {
  display: flex;
  margin-top: 5px;
  width: 90%;
  justify-content: flex-end;
}

.cartItem {
  border-bottom: dashed;
}
