@font-face {
  font-family: arcade;
  src: url("../src/assets/Fonts/ARCADECLASSIC.TTF");
}

.cartItemCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: arcade;
}

.addedToCartImg {
  background-color: aqua;
  max-height: 80px;
  max-width: 90px;
}

.cartItemCardTitle {
  font-family: arcade;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.removeBtn {
  display: flex;
  margin-top: 5px;
  width: 90%;
  justify-content: flex-end;
}

.cartItemCardRemove {
  margin: 0;
  cursor: pointer;
}

.cartItem {
  border-bottom: dashed;
  margin-bottom: 15px;
}
