/* specific font */
@font-face {
  font-family: "arcade";
  src: url("../src/assets/Fonts/ARCADECLASSIC.TTF");
}

.landingpageBody {
  font-family: "arcade";
  width: 100vw;
  height: calc(100vh - 100px);
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.landingDiv {
  width: 80vw;
  height: 80vh;
  border: dashed;
  border-radius: 5px;
  border-width: 5px;
  border-color: rgb(218, 218, 218);
  margin-top: 100px;
  margin: auto;
  background: black;
  overflow: hidden;
  top: 100px;
}

@font-face {
  font-family: otherFont;
  src: url("../assets/Fonts/pixel-love.ttf");
}

.landingpageParagraph {
  font-size: 24px;
  color: rgb(218, 218, 218);
  margin-bottom: 30px;
}

.landingpageTitle {
  font-size: 40px;
  color: coral;
}

.visible {
  visibility: hidden;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 30vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  perspective: 400px;
  text-align: justify;
  padding: 30px;
}

.crawl {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 400s linear;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
}

@keyframes crawl {
  0% {
    top: 400px;
  }
  100% {
    top: -6000px;
  }
}

/* 
@keyframes crawl {
    0% {
        top: 0;
    transform: rotateX(20deg);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg);
  }
} */
