@font-face {
  font-family: "My Font";
  src: url("./src/assets/Fonts/ARCADECLASSIC.TTF") format("truetype");
}

* {
  font-family: "My Font";
  color: coral;
}

.productCard {
  height: 300px;
  width: 70vw;
  margin: auto;
  display: flex;
  padding: 15px;
  gap: 20px;
  align-items: center;
}

.imgDiv {
  width: 50%;
}

.infoDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

.name {
  font-size: 20px;
}

.description {
  font-size: 14px;
}

.price {
  font-size: 20px;
}

.buyOptions {
  display: flex;
}
