@font-face {
  font-family: pokeFont;
  src: url("../assets/Fonts/PokemonGb-RAeo(2).ttf");
}

.singlepageMain {
  color: black;
  margin-top: 100px;
  padding: 0;
  height: calc(100vh - 100px);
  width: 100vw;
  background: url("../assets/Bg/325108274_560738142629640_6490069727382729819_n.png");
  background-size: 99vw 88vh;
  background-repeat: no-repeat;
}

.singlepageContainer {
  width: 60%;
  margin: auto;
  background-color: transparent;
}

.singlepageDiv {
  width: 100%;
  display: flex;
  margin-top: 70px;
  min-height: 400px;
  align-items: center;
  background-color: transparent;
  padding: 20px;
}

.imgDiv {
  max-width: 40%;
  display: flex;
  flex-direction: column;
}

.singleImg {
  width: 90%;
  min-width: 200px;
}

.singleProductInfo {
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 60%;
  gap: 20px;
  min-width: 300px;
}

.padding-and-border {
  border: solid;
  border-style: double;
  border-color: black;
  border-width: 12px;
  padding: 5px 10px;
  margin: 2px;
}

.singletitle {
  font-size: 18px;
  margin: 0;
  color: black;
  font-family: pokeFont;
}

.singleDesc {
  color: black;
  font-family: pokeFont;
  font-size: 16px;
}

.singlePrice {
  color: black;
  font-family: pokeFont;
  font-size: 18px;
}

.inline-block {
  width: fit-content;
}

.bg {
  background-color: rgba(246, 246, 246, 255);
}

.flex-justify-space {
  display: flex;
  justify-content: space-between;
}

.stock {
  display: flex;
  color: black;
  font-family: pokeFont;
}

.stockInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.gap {
  row-gap: 30px;
  display: flex;
  flex-direction: column;
}

.singlepageCartBtn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-family: pokeFont;
}

.singlepageCartBtn:hover {
  background-color: grey;
  cursor: pointer;
}

.backDiv {
  width: 100%;
}

.back {
  margin: auto;
  color: white;
  font-size: 16px;
  font-family: pokeFont;
}

.back:hover {
  background-color: grey;
  cursor: pointer;
}

@media (max-width: 1010px) {
  .singletitle {
    font-size: 16px;
  }

  .singleDesc {
    color: black;
    font-family: pokeFont;
    font-size: 14px;
  }

  .singlePrice {
    color: black;
    font-family: pokeFont;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .singlepageDiv {
    flex-wrap: wrap;
    justify-content: center;
  }

  .singleProductInfo {
    width: 100%;
  }

  .singletitle {
    font-family: pokeFont;
  }

  .singleDesc {
    font-size: 13px;
  }

  .singlePrice {
    font-size: 16px;
    margin: 0;
  }
  .singlepageCartBtn {
    font-size: 13px;
  }
}

@media (max-width: 640px) {
  .singletitle {
    font-size: 16px;
  }

  .stockInfo {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .singlepageMain {
    background: none;
    background-image: none;
  }

  .singlepageContainer {
    width: 90vw;
  }

  .singlepageDiv {
    width: unset;
  }

  .imgDiv {
    max-width: 200px;
  }

  .inline-block {
    width: unset;
  }
}
