@font-face {
  font-family: arcade;
  src: url("../assets/Fonts/ARCADECLASSIC.TTF");
}

.terms-container {
  position: absolute;
  z-index: 10;
  top: -10vh;
  left: 16vw;
  font-family: arcade;
  display: flex;
}

.termsContent {
  color: white;
  position: absolute;
  z-index: 10;
  left: -7vw;
  top: -50vh;
  width: 80vw;
  background-color: black;
  font-family: arcade;
}

.checkBoxTerms {
  color: white;
  font-family: arcade;
}

.agreeLabel {
  color: white;
  font-family: arcade;
}

@media (max-width: 600px) {
}

@media (max-width: 480px) {
  .terms-container {
    left: 0;
  }
}

.visible {
  z-index: 1000;
}
